<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livros</title>
    <link rel="stylesheet" href="/css/style-novo-livro.css">
</head>

<body>
    <header>
        <div class="header-left">
            <div class="logo">
                <img src="/img/Vector.png" alt="">
                <h2>ViraPágina</h2>
            </div>
            <p><a href="/sobre">Sobre</a></p>
            <p><a href="/livros">Livros</a></p>
            <p><a href="/usuarios/perfil">Perfil</a></p>
        </div>
        <div class="header-right" id="wfind">
            <form action="/livros/pesquisa" method="POST">
                <input type="text" name="termo" placeholder="Escreva o título, autor ou ISBN"> 
                <button type="submit" class="left">Buscar</button>
            </form>
        </div>
    </header>

    </section>


    <main>
        <div class="banner-login">

            <div class="banner">
                <img src="/img/imageprincipal.png" alt="Instagram" class="logo">
            </div>

            <div class="login">
                <p><strong>Preencha as<br> informações do <br> seu livro</strong> </p>
                <form action="/livros" method="POST">
                    <select name="autor_id" class="autor_id">
                        <option selected disabled>Selecione o autor</option>
                        <% for (let autor of autores) { %>
                            <option value="<%=autor.id%>">
                                <%=autor.autor%>
                            </option>
                            <%}%>
                    </select>
                    <div class="add-autor">
                        <span>não encontrou na lista?</span>
                        <a href="/autores/add">adicione um autor</a>
                    </div>

                    <input type="text" name="titulo" id="livros" placeholder="Título da Obra" required>
                    <input type="text" name="isbn" id="isbn" placeholder="ISBN">
                    <input type="text" name="editora" id="editora" placeholder="Editora">
                    <input type="text" name="edicao" id="edicao" placeholder="Edição">
                    <input type="text" name="conservacao" id="livros" placeholder="Estado de Preservação">
                    <input type="text" name="imagem" id="imagem" placeholder="Insira um link com a imagem do seu livro">


                    <select name="genero_id" id="genero_id">
                        <option selected disabled>Selecione um gênero</option>
                        <% for (let genero of generos) { %>
                            <option value="<%=genero.id%>">
                                <%=genero.genero%>
                            </option>
                            <%}%>
                    </select>

                    <select name="idioma_id" id="idioma_id">
                        <option selected disabled>Selecione um idioma</option>
                        <% for (let idioma of idiomas) { %>
                            <option value="<%=idioma.id%>">
                                <%=idioma.idioma%>
                            </option>
                            <%}%>
                    </select>



                    <input type="text" name="ano" id="ano" placeholder="Ano de Publicação">
                    <button type="submit">Adicionar</button>
                </form>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-left">
            <p><a href="/">
                    <img src="/img/Vector2.png" alt="Ícone de livro">
                </a></p>
            <div class="linha-1">
                <p>Baixe agora</p>
                <p>Licensa</p>
            </div>
            <div class="linha-2">
                <p><a href="/sobre">Sobre</a></p>
                <p>Funcionalidades</p>
                <p>Doações</p>
                <p>Carreiras</p>
                <p>Ajuda</p>
                <p>Política de Privacidade</p>

            </div>
            <div class="linha-3">
                <p>© 2021 Todos os direitos reservados</p>
            </div>
        </div>
        <div class="footer-right">
            <p>Baixe o App</p>
            <img src="/img/apps.png" alt="">

        </div>

    </footer>

</body>


</html>